In [2]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load and Read (Remember to Change These)
mouse_drug = "Resources/mouse_drug_data.csv"
clinical_trial = "Resources/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_drug_df = pd.read_csv(mouse_drug)
clinical_trial_df = pd.read_csv(clinical_trial)

# Combine the data into a single dataset
mouse_drug_trial_df = pd.merge(mouse_drug_df,clinical_trial_df, how="left", on= ["Mouse ID", "Mouse ID"])

# Display the data table for preview

mouse_drug_trial_df.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

In [3]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
tumor_mean = mouse_drug_trial_df.groupby(["Drug","Timepoint"]).mean()
tumor_mean.reset_index(level = None, inplace = True)

# Convert to DataFrame

tumor_treatement_mean_df = pd.DataFrame(tumor_mean)

# Preview DataFrame

tumor_treatement_mean_df.head()

        Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0  Capomulin          0           45.000000          0.000000
1  Capomulin          5           44.266086          0.160000
2  Capomulin         10           43.084291          0.320000
3  Capomulin         15           42.064317          0.375000
4  Capomulin         20           40.716325          0.652174

In [5]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint

tumor_sem = mouse_drug_trial_df.groupby(["Drug","Timepoint"]).sem()

# Convert to DataFrame

tumor_sem_df = pd.DataFrame(tumor_sem)

# Preview DataFrame

tumor_sem_df.head().reset_index()

        Drug  Timepoint  Metastatic Sites  Mouse ID  Tumor Volume (mm3)
0  Capomulin          0          0.000000       NaN            0.000000
1  Capomulin          5          0.074833       NaN            0.448593
2  Capomulin         10          0.125433       NaN            0.702684
3  Capomulin         15          0.132048       NaN            0.838617
4  Capomulin         20          0.161621       NaN            0.909731

In [10]:
# Minor Data Munging to Re-Format the Data Frames
tumor_mean = tumor_mean.reset_index()
tumor_mean_pivot = tumor_mean.pivot(index="Timepoint", columns="Drug")["Tumor Volume (mm3)"]

tumor_sem = tumor_sem.reset_index()
tumor_sem = tumor_sem.pivot(index="Timepoint", columns="Drug")["Tumor Volume (mm3)"]
                                                                        
Data_Munging = tumor_treatement_mean_df.pivot(index = "Timepoint", columns = "Drug", values = "Tumor Volume (mm3)")
Data_Munging.reset_index(level = None, inplace = True)

# Preview that Reformatting worked
Data_Munging.head()

Drug,Timepoint,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
0,0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
1,5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
2,10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
3,15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
4,20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334

In [11]:
# Generate the Plot (with Error Bars)
plt.figure(figsize = (10, 5))

plt.errorbar(x=Data_Munging,index["Timepoint"],y=research_drugs["Capomulin"], yerr=None, linestyle="--", fmt="o")
plt.errorbar(x=Data_Munging,index["Timepoint"],y=research_drugs["Infubinol"], yerr=None, linestyle="--", fmt="o")
plt.errorbar(x=Data_Munging,index["Timepoint"],y=research_drugs["Ketapril"], yerr=None, linestyle="--", fmt="o")
plt.errorbar(x=Data_Munging,index["Timepoint"],y=research_drugs["Placebo"], yerr=None, linestyle="--", fmt="o")
             
# Save the Figure
plt.ylabel("Tumor Volume (mm3)")
plt.xlabel("Time(Days)")           
plt.title("Tumor Response to Treatment")
plt.grid()           
plt.legend()             
plt.show()

SyntaxError: positional argument follows keyword argument (<ipython-input-11-34d3b0dcd70e>, line 4)